@charset "UTF-8";
#add_dir form[name=add-dir] input[name=dir_path] {
  height: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  transition: none;
}
#add_dir form[name=add-dir] input[name=dir_path]:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
#add_dir form[name=add-dir] input[name=dir_path]:focus {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
#add_dir form[name=add-dir] #add-dir-warning {
  height: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#add_dir form[name=add-dir] #add-dir-btn {
  height: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#visible_dir h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 26px;
  text-align: center;
}

#action {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#action button:nth-child(n+2) {
  margin-left: 20px;
}

#all-invert-group {
  margin-bottom: -1px;
}
#all-invert-group > li.list-group-item {
  display: flex;
  justify-content: space-between;
  height: 42px;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #E8E8E8;
}
#all-invert-group > li.list-group-item .checkbox {
  height: 20px;
  margin-top: 10px;
  margin-bottom: 0;
}
#all-invert-group > li.list-group-item .checkbox label {
  display: flex;
}
#all-invert-group > li.list-group-item .checkbox input[type=checkbox] {
  margin-top: 3px;
  margin-right: 4px;
}
#all-invert-group > li.list-group-item .checkbox .text {
  height: 20px;
  line-height: 20px;
}
#all-invert-group > li.list-group-item .invert-btn {
  height: 32px;
  margin-top: 4px;
  padding: 3px 12px;
}

#dir_list > li.list-group-item {
  display: flex;
  justify-content: space-between;
  height: 42px;
  color: #2B79A2;
}
#dir_list > li.list-group-item:hover {
  background-color: #F8F8F8;
}
#dir_list > li.list-group-item input[type=checkbox] {
  display: none;
}
#dir_list > li.list-group-item .text {
  white-space: nowrap;
  /* 强制文本一行内显示，默认是normal自动换行 */
  overflow: hidden;
  /* 隐藏溢出部分 */
  text-overflow: ellipsis;
  /* 用省略号替代超出的部分 */
  flex: 1;
  height: 100%;
  line-height: 20px;
  cursor: pointer;
}
#dir_list > li.list-group-item .glyphicon.glyphicon-user {
  width: 14px;
}
#dir_list > li.list-group-item .glyphicon.glyphicon-user::before {
  position: absolute;
  top: 3px;
}
#dir_list > li.list-group-item .dropdown {
  display: none;
}

#dir_list.select-status > li.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#dir_list.select-status > li.list-group-item:hover {
  background-color: #F8F8F8;
  cursor: pointer;
}
#dir_list.select-status > li.list-group-item.selected {
  background-color: #ff9493;
  color: #fff;
}
#dir_list.select-status > li.list-group-item input[type=checkbox] {
  display: inline-block;
  margin-top: 2px;
  margin-right: 4px;
}

#dir_list.update-status > li.list-group-item {
  overflow: visible;
  padding-right: 20px;
}
#dir_list.update-status > li.list-group-item .dropdown {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 40px;
}
#dir_list.update-status > li.list-group-item .dropdown > button {
  width: 100%;
  height: 100%;
  padding: 0;
  border-width: 0;
  border-radius: 0;
}
#dir_list.update-status > li.list-group-item .dropdown > button .glyphicon {
  position: absolute;
  top: 13px;
  left: 3px;
}
#dir_list.update-status > li.list-group-item .dropdown .dropdown-menu {
  left: auto;
  right: 0;
}
#dir_list.update-status > li.list-group-item .dropdown .dropdown-menu > li > button {
  display: block;
  width: 100%;
  border-width: 0;
  background-color: transparent;
  padding: 3px 20px;
  color: #333;
  text-align: left;
}
#dir_list.update-status > li.list-group-item .dropdown .dropdown-menu > li > button:hover {
  color: #262626;
  background-color: #F5F5F5;
}
#dir_list.update-status > li.list-group-item .dropdown .dropdown-menu > li > button:active {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

/*# sourceMappingURL=visible_dir.css.map */
