@import "../../_mixin.scss";

// 添加路径模态框
#add_dir form[name="add-dir"] {

    input[name="dir_path"] {
        @include small-lg-height();
        @include clear-input-transition();
    }

    #add-dir-warning {
        @include small-lg-height();
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #add-dir-btn {
        @include small-lg-height();
    }
}

#visible_dir h1 {
    @include h1-title();
}

// 操作按钮组
#action {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    button:nth-child(n + 2) {
        margin-left: 20px;
    }
}

// 全选、反选
#all-invert-group {
    margin-bottom: -1px;

    & > li.list-group-item {
        display: flex;
        justify-content: space-between;
        height: 42px;
        padding-top: 0;
        padding-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: #E8E8E8;

        .checkbox {
            height: 20px;
            margin-top: 10px;
            margin-bottom: 0;

            label {
                display: flex;
            }

            input[type="checkbox"] {
                margin-top: 3px;
                margin-right: 4px;
            }

            .text {
                height: 20px;
                line-height: 20px;
            }
        }

        .invert-btn {
            height: 32px;
            margin-top: 4px;
            padding: 3px 12px;
        }
    }
}

// 目录路径列表：一般状态
#dir_list {
    & > li.list-group-item {
        @include text-ellipsis();
        display: flex;
        justify-content: space-between;
        height: 42px;
        color: #2B79A2;

        &:hover {
            background-color: #F8F8F8;
        }

        input[type="checkbox"] {
            display: none;
        }

        .text {
            flex: 1;
            height: 100%;
            line-height: 20px;
        }

        .glyphicon.glyphicon-user {
            width: 14px;

            &::before {
                position: absolute;
                top: 3px;
            }
        }

        .dropdown {
            display: none;
        }
    }
}

// 目录路径列表：选择删除状态
#dir_list.select-status {
    & > li.list-group-item {
        &:first-child {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        &:hover {
            background-color: #F8F8F8;
            cursor: pointer;
        }

        &.selected {
            background-color: #ff9493;
            color: #fff;
        }

        input[type="checkbox"] {
            display: inline-block;
            margin-top: 2px;
            margin-right: 4px;
        }
    }
}

// 目录路径列表：更改权限状态
#dir_list.update-status {
    & > li.list-group-item {
        overflow: visible;
        padding-right: 20px;

        .dropdown {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 20px;
            height: 40px;

            & > button {
                width: 100%;
                height: 100%;
                padding: 0;
                border-width: 0;
                border-radius: 0;
            }

            .dropdown-menu {
                left: auto;
                right: 0;

                & > li > button {
                    @include like-dropdown-a-button();
                }
            }
        }
    }
}
