{% extends "base.html" %}
{% import "macro.html" as component %}
{% block title %}文件管理{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main/css/index.css') }}" />
{% endblock %}
{% block content %}

    <!-- 警告模态框 [start] -->
    {{ component.warning_modal() }}
    <!-- 警告模态框 [end] -->

    <!-- 下载模态框 [start] -->
    <div id="download-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-danger">下载目录注意</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>下载整个目录时，将会把目录打包成压缩包下载</li>
                        <li>目录大小不建议超过1GB，否则浏览器可能崩溃</li>
                        <li>只会下载目录中的文件，子目录不会被下载</li>
                        <li>下载整个目录的功能在手机浏览器中兼容性不好，更建议进入目录使用全选下载</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary download" data-dismiss="modal" data-url="" data-dir-name="">继续下载</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">取消下载</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 下载模态框 [end] -->

    <!-- 重命名模态框 [start] -->
    <div id="rename-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">重命名</h4>
                </div>
                <div class="modal-body">
                    <form name="rename" action="" method="post">
                        <div class="form-group">
                            <label for="old-name">旧文件名</label>
                            <input id="old-name" class="form-control" type="text" value="" disabled />
                        </div>
                        <div class="form-group">
                            <label for="new-name">新文件名(不能有\/:*?"<>|)</label>
                            <input id="new-name" name="new-name" class="form-control" type="text" required autocomplete="off" oninput='value=value.replace(/[\\/:*?"<>|]/g, "")' />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg rename-btn">重命名</button>
                        <div id="rename-warning" class="alert alert-danger hidden" role="alert"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 重命名模态框 [end] -->

    <!-- 复制模态框 [start] -->
    <div id="copy-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">复制</h4>
                </div>
                <div class="modal-body">
                    <form name="copy" action="" method="post">
                        <div class="form-group">
                            <label for="source-path">原路径</label>
                            <input id="source-path" class="form-control" type="text" value="" disabled />
                        </div>
                        <div class="form-group">
                            <label for="target-path">目标路径</label>
                            <input id="target-path" name="target-path" class="form-control" type="text" required autocomplete="off" />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg copy-btn">复制</button>
                        <div id="copy-info" class="alert alert-info hidden" role="alert">正在复制...完毕后将会刷新页面</div>
                        <div id="copy-warning" class="alert alert-danger hidden" role="alert"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 复制模态框 [end] -->

    <!-- 移动模态框 [start] -->
    <div id="move-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">移动</h4>
                </div>
                <div class="modal-body">
                    <form name="move" action="" method="post">
                        <div class="form-group">
                            <label for="move-source-path">原路径</label>
                            <input id="move-source-path" class="form-control" type="text" value="" disabled />
                        </div>
                        <div class="form-group">
                            <label for="new-path">新路径</label>
                            <input id="new-path" name="new-path" class="form-control" type="text" required autocomplete="off" />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg move-btn">移动</button>
                        <div id="move-info" class="alert alert-info hidden" role="alert">正在移动...完毕后将会刷新页面</div>
                        <div id="move-warning" class="alert alert-danger hidden" role="alert"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 移动模态框 [end] -->

    <!-- 删除模态框 [start] -->
    <div id="remove-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">删除</h4>
                </div>
                <div class="modal-body">
                    <p>确定删除：<span class="alert alert-danger remove-file-name" role="alert"></span>？</p>
                    <div id="remove-info" class="alert alert-info hidden" role="alert">正在删除...完毕后将会刷新页面</div>
                    <div id="remove-warning" class="alert alert-danger hidden" role="alert"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger remove" data-href="">确定删除</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 删除模态框 [end] -->

    <!-- 页面主体 [start] -->
    <div id="file_manage" class="container">

        <h1>文件管理</h1>

        <!-- 不用于罗列文件的列表组 [start] -->
        <ul id="full-path" class="list-group">
            <!-- 页面代表的目录的完整路径 [start] -->
            {% if page_dir_path %}
                <li class="list-group-item">{{ page_dir_path }}</li>
            {% endif %}
            <!-- 页面代表的目录的完整路径 [end] -->

            <!-- 上一级目录链接 [start] -->
            {% if prev_dir_path or prev_dir_path == '' %}
                <li class="list-group-item">
                    {% if dir_path %}
                        <a href="{{ url_for('main.visit_visible_dir', dir_path=dir_path, path=prev_dir_path) }}">上一级</a>
                    {% else %}
                        <a href="{{ url_for('main.index') }}">上一级</a>
                    {% endif %}
                </li>
            {% endif %}
            <!-- 上一级目录链接 [end] -->
        </ul>
        <!-- 不用于罗列文件的列表组 [end] -->

        <!-- 文件列表 [start] -->
        <ul id="file-list" class="list-group">
            {% for file_item in file_item_list %}
                <li class="list-group-item">
                    <span class="type glyphicon" data-type="{{ file_item.file_type }}"></span>
                    <span class="name">
                        {% if file_item.is_visible_dir %}
                            <a href="{{ url_for('main.visit_visible_dir', dir_path=file_item.visible_dir_path) }}">{{ file_item.visible_dir_path }}</a>
                        {% elif file_item.is_dir %}
                            <a href="{{ url_for('main.visit_visible_dir', dir_path=file_item.visible_dir_path, path=file_item.path) }}">{{ file_item.name}}</a>
                        {% else %}
                            <a href="{{ url_for('main.download', dir_path=file_item.visible_dir_path, path=file_item.path, filename=file_item.name) }}" target="_blank">{{ file_item.name }}</a>
                        {% endif %}
                    </span>
                    <span class="size">{{ file_item.size }}</span>
                    <div class="dropdown action">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-{{ loop.index }}"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-option-vertical"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-{{ loop.index }}">
                            <li>
                                {% if file_item.file_type == 'dir' %}
                                    <button type="button" class="btn btn-default download-dir" data-href="{{ url_for('main.download', dir_path=file_item.visible_dir_path, path=file_item.path) }}">下载</button>
                                {% else %}
                                    <a href="{{ url_for('main.download', dir_path=file_item.visible_dir_path, path=file_item.path, filename=file_item.name, attachment=True) }}" download="{{ file_item.name }}">下载</a>
                                {% endif %}
                            </li>
                            <li><button type="button" class="btn btn-default show-full-name">完整文件名</button></li>
                            {% if current_user.is_authenticated %}
                                <li><button type="button" class="btn btn-default rename" data-href="{{ url_for('main.rename', dir_path=file_item.visible_dir_path, path=file_item.path, filename='' if file_item.file_type == 'dir' else file_item.name) }}">重命名</button></li>
                                {% if file_item.file_type != 'dir' %}
                                    <li><button type="button" class="btn btn-default copy" data-href="{{ url_for('main.copy_file', dir_path=file_item.visible_dir_path, path=file_item.path, filename=file_item.name) }}" data-source-path="{{ file_item.page_dir_path }}">复制</button></li>
                                    <li><button type="button" class="btn btn-default move" data-href="{{ url_for('main.move_file', dir_path=file_item.visible_dir_path, path=file_item.path, filename=file_item.name) }}" data-source-path="{{ file_item.page_dir_path }}">移动</button></li>
                                    <li><button type="button" class="btn btn-default remove" data-href="{{ url_for('main.remove_file', dir_path=file_item.visible_dir_path, path=file_item.path, filename=file_item.name) }}" data-index="{{ loop.index0 }}">删除</button></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <!-- 文件列表 [end] -->
    </div>
    <!-- 页面主体 [end] -->
{% endblock %}
{% block javascript %}
    <script src="{{ url_for('static', filename='main/js/index.js') }}" type="text/javascript"></script>
{% endblock %}