<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />

    {% block link %}{% endblock %}

    <!-- project global CSS -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='base/css/base.css') }}" />
</head>
<body>
    {% if current_user.is_authenticated %}
    <!-- 修改密码模态框 [strart] -->
    <div class="modal fade" id="update-password-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                </div>
                <div class="modal-body">
                    <form name="update-password" action="{{ url_for('identity.update_password') }}" method="post">
                        <div class="form-group">
                            <input type="password" name="password" class="form-control input-lg" placeholder="新密码"
                                   required autocomplete="off" minlength="6" maxlength="20" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control input-lg again-password" placeholder="再次输入"
                                   required autocomplete="off" minlength="6" maxlength="20" />
                        </div>
                        <button id="update-password-btn" type="submit" class="btn btn-primary btn-block btn-lg">确定</button>
                        <div id="update-password-warning" class="alert alert-danger hidden" role="alert"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 修改密码模态框 [end] -->
    {% endif %}

    <!-- 导航栏 [start] -->
    <nav id="nav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- 响应式下拉按钮 [start] -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand glyphicon glyphicon-folder-open" href="{{ url_for('main.index') }}"></a>
            </div>
            <!-- 响应式下拉按钮 [end] -->

            <!-- 导航栏项目 [start] -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">管理<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><button id="update-password" type="button" class="btn btn-default" data-toggle="modal" data-target="#update-password-modal">修改密码</button></li>
                                <li><a href="{{ url_for('identity.visible_dir') }}">可见目录</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ url_for('identity.logout') }}">登出</a></li>
                    {% else %}
                        <li><a href="{{ url_for('identity.login') }}">登录</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- 导航栏项目 [end] -->
        </div>
    </nav>
    <!-- 导航栏 [end] -->

    {% block content %}{% endblock %}

    <!-- Bootstrap JavaScript -->
    <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>

    <!-- JavaScript Plugin -->
    <script type="text/javascript" src="{{ url_for('static', filename='base/js/jszip.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='base/js/FileSaver.js') }}"></script>

    <!-- project global JavaScript -->
    <script src="{{ url_for('static', filename='base/js/global.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='base/js/base.js') }}" type="text/javascript"></script>

    {% block javascript %}{% endblock %}
</body>
</html>