{% extends "base.html" %}
{% import "macro.html" as component %}
{% block title %}可见目录{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='identity/css/visible_dir.css') }}" />
{% endblock %}
{% block content %}

    <!-- 警告模态框 [start] -->
    {{ component.warning_modal() }}
    <!-- 警告模态框 [end] -->

    <!-- 添加路径模态框 [start] -->
    <div class="modal fade" id="add_dir" tabindex="-1" role="dialog" aria-labelledby="add-dir">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">添加目录</h4>
                </div>
                <div class="modal-body">
                    <form name="add-dir" action="{{ url_for('identity.add_dir') }}" method="post">
                        <div class="form-group dir-path-group">
                            <input type="text" name="dir_path" class="form-control input-lg" placeholder="路径"
                                   required autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <label for="role-name">谁可以查看</label>
                            <select class="form-control" name="access">
                                <option value="1" selected="selected">游客</option>
                                <option value="4">仅管理员</option>
                            </select>
                        </div>
                        <button id="add-dir-btn" type="submit" class="btn btn-primary btn-block btn-lg">添加</button>
                        <div id="add-dir-warning" class="alert alert-danger hidden" role="alert"></div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 添加路径模态框 [end] -->

    <!-- 页面主体 [start] -->
    <div id="visible_dir" class="container">
        <h1>编辑可见目录</h1>

        <!-- 操作按钮组 [start] -->
        <div id="action">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_dir">添加</button>
            <button id="decide-update-btn" type="button" class="btn btn-primary hidden">确定更改</button>
            <button id="update-access-btn" type="button" class="btn btn-primary">更改权限</button>
            <button id="decide-delete-btn" type="button" class="btn btn-danger hidden">确定删除</button>
            <button id="delete-dir-btn" type="button" class="btn btn-danger">删除</button>
        </div>
        <!-- 操作按钮组 [end] -->

        <!-- 全选、反选 [start] -->
        <ul id="all-invert-group" class="list-group hidden">
            <li class="list-group-item">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" />
                        <span class="text">全选</span>
                    </label>
                </div>
                <button type="button" class="btn btn-default invert-btn">反选</button>
            </li>
        </ul>
        <!-- 全选、反选 [end] -->

        <!-- 目录路径列表 [start] -->
        <ul id="dir_list" class="list-group" data-delete-action="{{ url_for('identity.delete_dir') }}" data-update-access-action="{{ url_for('identity.update_access') }}">
            {% for dir_object in dir_list %}
                <li class="list-group-item" data-source-access="{{ dir_object.access }}" data-access="{{ dir_object.access }}">
                    <input type="checkbox" value="{{ dir_object.dir_path }}" />
                    <span class="text">{{ dir_object.dir_path }}</span>
                    {% if dir_object.admin_level() %}
                        <span class="glyphicon glyphicon-user"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-user hidden"></span>
                    {% endif %}
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="update-access-dropdown-{{ loop.index }}"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-option-vertical"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="update-access-dropdown-{{ loop.index }}">
                            <li><button type="button" class="btn btn-default anonymous" data-access="1" data-index="{{ loop.index - 1 }}">游客可见</button></li>
                            <li><button type="button" class="btn btn-default administrator" data-access="4" data-index="{{ loop.index - 1 }}">仅管理员可见</button></li>
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <!-- 目录路径列表 [end] -->
    </div>
    <!-- 页面主体 [end] -->
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{{ url_for('static', filename='identity/js/visible_dir.js') }}"></script>
{% endblock %}