@import "../../_mixin.scss";

// 导航栏
body {
    padding-top: 50px;
    padding-bottom: 50px;
}

#nav {
    .navbar-header .navbar-brand:hover {
        @include gray-bgc();
    }

    .navbar-collapse .navbar-nav > li {
        a:hover,
        &.active a {
            @include gray-bgc();
        }
    }

    #update-password {
        @include like-a-button();
    }
}

// 修改密码表单
form[name="update-password"] {
    input {
        @include small-lg-height();
        @include clear-input-transition();
    }

    button {
        @include small-lg-height();
    }

    #update-password-warning {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}